@import "tailwindcss";

@theme {
  --font-sans: var(--font-ms-sans-serif);
}

:root {
  --background: #007D76;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-ms-sans-serif);
}
